body {
    background: teal;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    background: lightgray;
    margin: 10px;
}

.assignment img {
    width: 200px;
    padding:10px;
    
}

h1 {
    color:darkblue;
    text-align: center;
}
/*
.png {
    size: 60px;
}
*/